# Ignore build artifacts and IDE files
*.o
*.pyc
*.mp4
*.avi
*.csv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion specific files and directories
/.idea/
*.iml
*.ipr
*.iws
*/cmake-build-debug-wsl/
*/cmake-build-debug/
*/cmake-build-release-wsl/
*/cmake-build-release/
*/.idea/
*/build/
*/release/
*/debug/